@page "/favourites"
@inherits FavouritedProductBase

<input type="text" @bind="SearchString" placeholder="search something" />

<div class="wrapper">
    @foreach (var prod in FavouritedProducts)
    {
        <ShowProduct Prod="prod"></ShowProduct>
    }
</div>

