@page "/products"
@inherits ProductBase 

<h3>Products</h3>
<button class="btn btn-outline-info" @onclick="StartAdd">Add new product</button>
<input type="text" @bind="SearchString" placeholder="search something" />


@if (addButton)
{
    <AddnEdit OnSubmitted="AddNewProduct" OnCancelled="CancelAdd">
        Add new product
    </AddnEdit>
}
else
{
    <div class="wrapper">
        @foreach (var item in Products)
         {

            <ShowProduct Prod="item"></ShowProduct>
         }
    </div>

}