@inherits LayoutComponentBase


<div class="main">
    <div class="top-row px-4">
        <NavLink href="" Match="NavLinkMatch.All">
            <span>Home</span>
        </NavLink>
        <NavLink href="products">
            <span>Products</span>
        </NavLink>
        <NavLink href="favourites">
            <span>Favourites</span>
        </NavLink>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

    </div>


    <div class="card-title text-center">
        <NavLink href="" Match="NavLinkMatch.All" class="title">
            <h1>Meji</h1>
        </NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>