@page "/todolist" 

@using Newtonsoft.Json;

<h3>TodoList</h3>

<div class="form-group">
    <label for="title">Title: </label>
    <input type="text" @bind="_newItem" @onkeyup="EnterCatch" />

    <button type="submit" @onclick="Add" class="btn btn-outline-dark">Add</button>
    <button type="submit" @onclick="Clear" class="btn btn-outline-dark">Clear all</button>
    <button type="submit" @onclick="Save" class="btn btn-outline-dark">Save</button>
    <i>@_announce</i>
</div>

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th>Title</th>
            <th>Complete</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _todoList)
         {
            <tr style="text-align:center">
                <td style="text-align:left; @(item.IsComplete ? "text-decoration: line-through" : "")">@item.Title</td>
                <td style="text-align:center">
                    <input type="checkbox" @bind="item.IsComplete" @onclick="(() => _announce = string.Empty)" />
                </td>
                <td style="text-align:center">
                    <button type="submit" class="btn btn-outline-dark" @onclick="(() => Remove(item))">Remove</button>
                </td>
            </tr>
         }
    </tbody>
</table>

@code {

    private readonly string _path = "Data//tdl.json";

    public string _announce { get; set; }

    public string _newItem { get; set; }

    private List<TodoItem> _todoList = new List<TodoItem>();

    public List<TodoItem> GetData()
    {
        if (File.Exists(_path))
        {
            using var file = File.OpenText(_path);
            var serializer = new JsonSerializer();
            _todoList = serializer.Deserialize(file, typeof(List<TodoItem>)) as List<TodoItem>;
        }

        return _todoList;
    }

    protected override void OnInitialized()
    {
        _todoList = GetData();
    }

    public void Add()
    {
        if (!string.IsNullOrWhiteSpace(_newItem))
        {
            _todoList.Add(new TodoItem(title: _newItem));
            _newItem = string.Empty;
            _announce = string.Empty;
        }
    }

    public void Remove(TodoItem item)
    {
        _todoList.Remove(item);
        _announce = string.Empty;
    }

    public void Clear()
    {
        _todoList.Clear();
        File.Delete(_path);
        _announce = string.Empty;
    }

    public void Save()
    {
        using var file = File.CreateText(_path);
        var serializer = new JsonSerializer();
        serializer.Serialize(file, _todoList);
        _announce = "Save successfully to the folder Data";
    }

    public void EnterCatch(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")
        {
            Add();
        }
    }

}
